
    img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    }

    table {
    border-collapse: collapse;
    float: right;
    }
    

    .lingkaran {
    width: 100px;
    height: 100px;
    background-color: rgb(134, 134, 207);
    border-radius: 50%;
    }
    
    .bulat {
    width: 100px;
    height: 100px;
    background-color: rgb(207, 134, 134);
    border-radius: 50%;
    }

    .yey {
    width: 100px;
    height: 100px;
    background-color: rgb(134, 207, 134);
    border-radius: 50%;
    }

   .shapes-row {
     display: flex;
     gap: 16px;
     align-items: center;
     width: 100%;
     box-sizing: border-box;
   }

    .shape-label {
      display: flex;
      gap: 85px;
      justify-items: center;
      width: 100%;
      box-sizing: border-box;
    }